/* ヘッダーコンテンツ */
nav{
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}

.btn{
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  border: 3px solid;
  padding: 10px 20px;
  background-color: #ffa91f;
  border-radius: 20px;
  transition: 0.5s;
}
.btn:hover{
  background-color: rgba(255, 255, 255, 0);
  color: #ffa91f;
}

/* メインコンテンツ */

.strong-text{
  letter-spacing: 2px;
  color: #ffa91f;
}
.introduce{
  background-image: url('images/backimage.png');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  width: 100vw;
  min-width: 1000px;
  height: 550px;
  position: relative;
}
.introduce-contents{
  top: 100px;
  left: 10%;
  position: absolute;
}
.introduce-contents h3{
  padding-top: 40px;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app-image-apple{
  padding-top: 40px;
  width: 200px;
}
.app-image-android{
  padding-top: 40px;
  width: 225px;
  padding-left: 10px;
}

/* オレンジ帯コンテンツ */

.point{
  background-color: #ffa91f;
  text-align: center;
}
.point h3{
  padding: 30px 0;
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.point-text{
  border-bottom: 4px solid #ffffff;
}

/* イメージコンテンツ */

.image-content{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-image{
  width: 500px;
  padding: 0 5%;
}
.image-text{
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
}
.image-text span{
  color: #ffa91f;
  font-weight: 900;
  padding-right: 10px;
  border-bottom: 3px solid #ffa91f;
}

/* pointsコンテンツ */

.points{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.points-title{
  font-weight: 900;
  padding: 5%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.points-text{
  text-align: center;
  display: flex;
  width: 100%;
}

.points-text-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #ffa91f;
}
.points-text-string{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 5%;
  line-height: 30px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.points-image{
  padding: 40px 30px;
  width: 200px;
  height: 150px;
}

/* howtocontents */

.how-to-contents{
  background-color: #ffa91f;
  padding: 5% 5%;
  text-align: center;
}

.how-to-contents-title{
  color: #ffffff;
  padding-bottom: 5%;
}

.how-to-images{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.how-to-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ffffff;
  padding: 20px 20px 0;
  border-radius: 20px;
  min-width: 300px;
}

.how-to-image span{
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffa91f;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  letter-spacing: 3px;
}

.how-to-image h1{
  font-size: 1.5rem;
  padding: 10px 0 10px;
}
.how-to-image p{
  font-size: 0.85rem;
  font-weight: 600;
  padding: 10px 0 10px;
  letter-spacing: 1px;
}

.how-to-image img{
  width: 250px;
}

.q-and-a{
  padding: 5% 10%;
  text-align: center;
}
.card{
  margin: 10px 0;
  padding: 10px 0;
  background-color: #ffedd0;
}
.question{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-title span{
  padding: 0 30px;
}
.question button{
  padding-right: 30px;
}
.answer{
  padding: 10px 0;
  display: none;
}
.answer-title span{
  padding: 0 30px;
}


@media (max-width: 1050px){
  .points-text{
    flex-direction: column;
    max-width: 100%;
  }

  .h1-title{
    min-width: 300px;
  }

}
@media (max-width: 1180px){
    .how-to-images{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .how-to-image{
    margin: 5% 0;
  }
}